<div class="mb-3">
  <label for="formFile" class="form-label">Default file input example</label>
  <input class="form-control" type="file" id="formFile">
</div>
<div class="mb-3">
  <label for="formFileMultiple" class="form-label">Nombre </label>
  <input class="form-control" type="file" id="formFileMultiple" multiple>
</div>
<div class="mb-3">
  <label for="formFileDisabled" class="form-label">Apelllido</label>
  <input class="form-control" type="file" id="formFileDisabled" disabled>
</div>
<div class="mb-3">
  <label for="formFileSm" class="form-label">E-mail</label>
  <input class="form-control form-control-sm" id="formFileSm" type="file">
</div>
<div>
  <label for="formFileLg" class="form-label">Contraseña</label>
  <input class="form-control form-control-lg" id="formFileLg" type="file">
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Confirmar </button>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3" a href="#" class="btn btn-primary" role="button" data-bs-toggle="button"></button>"">
  </div>
</div>