
      <!-- Button trigger modal -->
      <!--boton que abre el login esta ubicado en social-->
<div class="row">      
  <!-- El login-->
<div class="modal fade" id="logiModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Inicie sesion</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">     
     </div>
      <!--form gmail-->
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">No compartiremos tu informacion con nadie </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
      </form>
      ...<small class="mb-3"> <b> Si no tienes cuenta</b> <a href="../../components/registro-login/registro-login.component.html"><u> Registrate</u></a> </small>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" a href="../../components/ingreso-login/ingreso-login.component.html">Ingresar</button>
    </div>
    
  </div>
</div>
<app-social></app-social>
</div>