<div class="row">
  <nav class="navbar navbar-expand- lg-colbarra">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <!--LOGO-->
        <img src="../../../assets/img/APLogo2.png" alt="logoArgprog" class="w-25">
      </a>
      <!--Redes sociales-->
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="https://www.linkedin.com/in/marisa-chaile-8721a51a1" target="_blank"><i
              class="fa-brands fa-linkedin  fa-2x"></i></a></li>
        <li class="list-group-item"><a href="https://github.com/Marixxa24" target="_blank"><i
              class="fa-brands fa-github fa-2x"></i></a></li>
        <li class="list-group-item"><a href="https://www.instagram.com/marixachaile/?hl=es-la" target="_blank"><i
              class="fa-brands fa-instagram fa-2x"></i></a></li>
      </ul>
    </div>

  </nav>
</div>
<!--linea que divide-->
<hr class="featurette-divider">
<div class="row">
<section class="vh-100" style="background-color: #9A616D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="../../../assets/img/marisaperfil-2.png"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form>

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">Logo</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Iniciar sesión en su cuenta</h5>

                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example17" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example17">Dirección de correo electrónico</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example27" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27">Contraseña</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="button"> Acceso</button>
                  </div>

                  <a class="small text-muted" href="#!">¿Has olvidado tu contraseña?</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">¿No tienes una cuenta? <a href="../registro-login/"
                      style="color: #393f81;">Registrar aquí</a></p>
                  <a href="#" class="small text-muted">Condiciones de uso.</a>
                  <a href="#!" class="small text-muted"> Política de privacidad </a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<hr class="featurette-divider">
<div class="row">
  <div class="card text-bg-dark">
    <img src="../../../assets/img/footer-1.jpeg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title"><b>Contacto </b></h5>
      <ul  class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="https://www.linkedin.com/in/marisa-chaile-8721a51a1" target="_blank"><i class="fa-brands fa-linkedin  fa-2x"></i></a></li> 
        <li class="list-group-item"><a href="https://github.com/Marixxa24" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a></li>
        <li class="list-group-item"><a href="https://www.instagram.com/marixachaile/?hl=es-la" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a></li>
        <li class="list-group-item"><a href="https://wa.me/qr/OKRWIZ2Y2CDZN1" target="_blank"><i class="fa-brands fa-whatsapp fa-2x"></i></a></li>
        <li class="list-group-item"><a href="mailto:tu_correo_electronico" target="_blank"><i class="fa-sharp fa-solid fa-envelope fa-2x"></i></a></li>
     </ul>  
     <br>
      <p class="card-text"><b> © 2023 Chaile Marisa Soledad | Argentina Programa | La Rioja-Argentina </b>
    </div>
  </div>

   
</div>

