<hr class="featurette-divider">
<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor"> 
        <div class="col-sm-12 col-md7 col-lg-7 parte1">
            <h2>nombre del proyecto 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci culpa molestiae dolorem consequuntur quidem modi dolorum quo alias doloremque deleniti! Praesentium doloremque, reprehenderit atque fuga deserunt commodi aspernatur provident asperiores?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/img/polo.png" alt="" class="img-fluid img-proyecto1">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="contenedor"> 
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/img/polo.png" alt="" class="img-fluid img-proyecto2">
        </div>
        <div class="col-sm-12 col-md7 col-lg-7 parte2">
            <h2>nombre del proyecto 2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci culpa molestiae dolorem consequuntur quidem modi dolorum quo alias doloremque deleniti! Praesentium doloremque, reprehenderit atque fuga deserunt commodi aspernatur provident asperiores?</p>
        </div>
        <hr class="featurette-divider">
    </div>
    
    <div class="col-sm-12 col-md7 col-lg-7 parte1">
        <h2>nombre del proyecto 1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci culpa molestiae dolorem consequuntur quidem modi dolorum quo alias doloremque deleniti! Praesentium doloremque, reprehenderit atque fuga deserunt commodi aspernatur provident asperiores?</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/img/polo.png" alt="" class="img-fluid img-proyecto1">
    </div>
    <hr class="featurette-divider">
    <div class="contenedor"> 
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/img/polo.png" alt="" class="img-fluid img-proyecto2">
        </div>
        <div class="col-sm-12 col-md7 col-lg-7 parte2">
            <h2>nombre del proyecto 2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci culpa molestiae dolorem consequuntur quidem modi dolorum quo alias doloremque deleniti! Praesentium doloremque, reprehenderit atque fuga deserunt commodi aspernatur provident asperiores?</p>
        </div>
    

</div>