<!DOCTYPE html>
<html>
<head>
  <title>Proyectos Realizados</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    .container {
      margin-top: 50px;
    }
    
    h1 {
      margin-bottom: 30px;
    }
    
    .contenedor {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
    }
    
    .parte1 {
      flex-basis: 70%;
    }
    
    .parte2 {
      flex-basis: 25%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    
    .btn-custom {
      background-color: #bfb1b082;
      border-color: #bfb1b082;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Proyectos realizados</h1>
    
    <div class="contenedor"> 
      <div class="parte1">
        <h2>Prueba de lo aprendido en los módulos ArgProg</h2>
      </div>
      <div class="parte2">
        <a class="btn btn-outline-light btn-custom" href="https://drive.google.com/drive/folders/1_3Ohsa2nnmyNhMvia8POnwfcDaVpgEZC?usp=sharing" role="button">Ver</a>
      </div>
    </div>
    <hr class="featurette-divider">
    
    <!-- Resto del código... -->
    
  </div>
</body>
</html>
