<title>Proyectos Realizados</title>
<div class="container">
  <h1>Proyectos realizados</h1>

  <div class="contenedor"> 
    <div class="parte1">
      <h2>Proyectos de como fui aprendiendo en los módulos ArgProg</h2>
    </div>
    <div class="parte2">
      <a class="btn btn-outline-light btn-custom" href="https://drive.google.com/drive/folders/1_3Ohsa2nnmyNhMvia8POnwfcDaVpgEZC?usp=sharing" role="button">Ver</a>
    </div>
  </div>
  <hr class="featurette-divider">

  <!-- Resto del código... -->

</div>
