<hr class="featurette-divider">
<div class="row">
  <div class="card text-bg-dark">
    <img src="../../../assets/img/footer-1.jpeg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title"><b>Contacto </b></h5>
      <ul  class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="https://www.linkedin.com/in/marisa-chaile-8721a51a1" target="_blank"><i class="fa-brands fa-linkedin  fa-2x"></i></a></li> 
        <li class="list-group-item"><a href="https://github.com/Marixxa24" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a></li>
        <li class="list-group-item"><a href="https://www.instagram.com/marixachaile/?hl=es-la" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a></li>
        <li class="list-group-item"><a href="https://wa.me/qr/OKRWIZ2Y2CDZN1" target="_blank"><i class="fa-brands fa-whatsapp fa-2x"></i></a></li>
        <li class="list-group-item"><a href="mailto:tu_correo_electronico" target="_blank"><i class="fa-sharp fa-solid fa-envelope fa-2x"></i></a></li>
     </ul>  
     <br>
      <p class="card-text"><b> © 2023 Chaile Marisa Soledad | Argentina Programa | La Rioja-Argentina </b>
    </div>
  </div>

   
</div>

