<hr class="featurette-divider">
<div class="row">
    <h1>Expericia laboral</h1>
    <div class="contenedor"> 
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/img/barbistro.png" alt="" class="img-fluid img-proyecto2">
        </div>
        <div class="col-sm-12 col-md7 col-lg-7 parte1">
            <h2>Encargada y cajera bar Bistro</h2>
            <p>Durante mi tiempo trabajando como encargada y cajera, adquirí habilidades valiosas en liderazgo, servicio al cliente, manejo de caja y operaciones financieras, organización y gestión de tiempo, y cumplimiento de políticas y procedimientos.
              Como encargada, tuve la responsabilidad de supervisar y dirigir a un equipo de trabajadores, lo que me permitió desarrollar habilidades de liderazgo, comunicación efectiva y capacidad para delegar responsabilidades. Además, como cajera, interactué con los clientes en el proceso de cobro y atención al cliente, lo que me permitió desarrollar habilidades de atención al cliente, manejo de quejas y resolución de problemas.
              También me encargué del manejo de caja, lo que me permitió desarrollar habilidades de manejo de efectivo, manejo de transacciones financieras y registro de datos. Para manejar múltiples tareas y prioridades en un ambiente de ritmo rápido, desarrollé habilidades de organización y gestión de tiempo. </p>
        </div>
        <hr class="featurette-divider">
    </div>
    <div class="col-sm-12 col-md7 col-lg-7 parte1">
        <h2>Coordinaora-Flecha Turismo Estuiantil</h2>
        <p>Como coordinadora de viajes estudiantiles, adquirí habilidades valiosas en planificación y organización, atención al cliente, comunicación efectiva y resolución de problemas.
          Tuve la responsabilidad de coordinar viajes de estudiantes, lo que me permitió desarrollar habilidades en la planificación y organización de eventos, incluyendo la selección de destinos, transporte, y actividades y itinerarios. Durante estos viajes, también trabajé directamente con los estudiantes y sus padres, lo que me permitió desarrollar habilidades de atención al cliente, manejo de quejas y resolución de problemas.
          Para asegurar que los viajes se realizaran sin problemas, desarrollé habilidades de comunicación efectiva y trabajo en equipo para coordinar y colaborar con proveedores y otros miembros del equipo. También tuve que estar preparada para enfrentar y solucionar problemas en tiempo real, lo que me permitió desarrollar habilidades de resolución de problemas y pensamiento crítico.</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/img/flecha.png" alt="" class="img-fluid img-proyecto1">
    </div>

    <hr class="featurette-divider">
    <div class="contenedor">

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/img/logo-cacic-07.png" alt="" class="img-fluid img-proyecto2">
        </div>

        <div class="col-sm-12 col-md7 col-lg-7 parte1">
            <h2>Organizacion y coordinacion de eventos estudiantiles</h2>
            <p>Tuve la responsabilidad de planificar y coordinar eventos estudiantiles, incluyendo el Festival Cacic, uno de los eventos más grandes del año universitario. Durante este proceso, desarrollé habilidades en la planificación y organización de eventos, incluyendo la selección y reserva de ubicaciones, la contratación y coordinación de proveedores, y la programación y coordinación de actividades y entretenimiento. Además, lideré un equipo de voluntarios y trabajadores para garantizar que el evento se llevara a cabo sin problemas. </p>
        </div>
    

</div>


