<!--linea que divide-->
<hr class="featurette-divider">
<!--acerca de mi-->
<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/img/Marisa.png" alt="foto de Marisa" class="img-fluid" id="fotodeperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xxl-2">
      <p id="nombre"> <b> Chaile Marisa Soledad  <br> Full Stack Developer Jr </b> </p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xxl-8">
      <span>
          
          <p id="parrafo">¡Hola! Mi nombre es Marisa y actualmente estudio ingeniería en sistemas de información en la Universidad Nacional
             de La Rioja. Además, estoy realizando el curso de Argentina Programa de Full Stack Developer JS para mejorar 
             mis habilidades en el ámbito de la programación. <br>
             Siempre estoy en busca de nuevas oportunidades para aprender y desarrollarme en mi campo de estudio. 
             La tecnología y la innovación son dos de mis mayores pasiones. <br>
             Fuera del ámbito académico, me gusta mantenerme en forma haciendo musculación. También estoy en constante 
             capacitación para mejorar mis habilidades en este ámbito.
             <br>
             ¡Gracias por leer sobre mí! Si deseas comunicarte conmigo, no dudes en hacerlo a través de mi correo electrónico 
             o mis perfiles en redes sociales.
              </p>
      </span>
  </div>