<!--Redes sociales-->
<ul  class="list-group list-group-horizontal">
    <li class="list-group-item"><a href="https://www.linkedin.com/in/marisa-chaile-8721a51a1" target="_blank"><i class="fa-brands fa-linkedin  fa-2x"></i></a></li> 
    <li class="list-group-item"><a href="https://github.com/Marixxa24" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a></li>
    <li class="list-group-item"><a href="https://www.instagram.com/marixachaile/?hl=es-la" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a></li>
    <li class="list-group-item">
        <!--boton que abre el login -->
        <i  data-bs-toggle="modal" data-bs-target="#logiModal" class="fa-solid fa-user-lock fa-2x"></i>
    </li>
</ul>
