<hr class="featurette-divider">
  <div class="row">
    <h1> Hard & Soft skills </h1>
     <div class=" text-center col-sm-4 col-md-4 col-lg-4"> 
           <circle-progress
              [percent]="75"
              [radius]="140"
              [title]="'H Técnicas '"
              [titleColor]="'#332B47'"
              [titleFontSize]="'18'"
              [subtitle]="'HTML-Css-Js-Java-C-BD-GitHub'"
              [subtitleColor]="'black'"
              [showUnits]="false"
              [outerStrokeWidth]="12"
              [innerStrokeWidth]="2"
              [outerStrokeColor]="'#524571'"
              [innerStrokeColor]="'black'"
              [animation]="true"
              [animationDuration]="600"
          ></circle-progress>
     </div>
     <div class=" text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
           [percent]="90"
           [radius]="140"
           [title]="'H Comunicación'"
           [titleColor]="'#332B47'"
           [titleFontSize]="'18'"
           [subtitle]="'trabajo en equipo- comunicacion efeciva-presentaciones'"
           [subtitleColor]="'black'"
           [showUnits]="false"
           [outerStrokeWidth]="18"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#524571'"
           [innerStrokeColor]="'black'"
           [animation]="true"
           [animationDuration]="600"
       ></circle-progress>
     </div>
     <div class=" text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
           [percent]="80"
           [radius]="140"
           [title]="'H Resolución de problemas'"
           [titleColor]="'#332B47'"
           [titleFontSize]="'18'"
           [subtitle]="'identificar-solucionar de forma creativa-'"
           [subtitleColor]="'black'"
           [showUnits]="false"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#524571'"
           [innerStrokeColor]="'black'"
           [animation]="true"
           [animationDuration]="600"
       ></circle-progress>
     </div>
     <div class=" text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
           [percent]="95"
           [radius]="140"
           [title]="'H Liderazgo'"
           [titleColor]="'#332B47'"
           [titleFontSize]="'18'"
           [subtitle]="'supervicion-toma de decisiones-motivación del equipo'"
           [subtitleColor]="'black'"
           [showUnits]="false"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#524571'"
           [innerStrokeColor]="'black'"
           [animation]="true"
           [animationDuration]="600"
       ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
           [percent]="98"
           [radius]="140"
           [title]="'H Aprendizaje'"
           [titleColor]="'#332B47'"
           [titleFontSize]="'18'"
           [subtitle]="'aprendizaje veloz-investigacion-solucion de problemas'"
           [subtitleColor]="'black'"
           [showUnits]="false"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#524571'"
           [innerStrokeColor]="'black'"
           [animation]="true"
           [animationDuration]="600"
       ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
           [percent]="90"
           [radius]="140"
           [title]="'H Gestión de proyectos'"
           [titleColor]="'#332B47'"
           [titleFontSize]="'18'"
           [subtitle]="'planificación-gestión-objetivos-metas-Seguimiento'"
           [subtitleColor]="'black'"
           [showUnits]="false"
           [outerStrokeWidth]="16"
           [innerStrokeWidth]="2"
           [outerStrokeColor]="'#524571'"
           [innerStrokeColor]="'black'"
           [animation]="true"
           [animationDuration]="600"
       ></circle-progress>
     </div>
    
  


  </div>
